!!!
%html
  %head
    %title Eyedonate
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    = stylesheet_link_tag "all"
  %body.gray-ft.arimo
    = yield
    = javascript_include_tag "all"
